@model IoTWebApp.Models.NewDeviceModel

@{
    ViewData["Title"] = "ViewDevice";
}

<h2>ViewDevice</h2>

<div>
    <h4>NewDeviceModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DeviceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeviceName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastActivityUpdated)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastActivityUpdated)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Get Device Data", "")
    <a asp-action="Index">Back to List</a>
</div>
